.flex-container {
    display: flex;
    height: 500px;
    width: 500px;
    border: rgb(255, 0, 0) 1px solid;
}

.test {
    background-color: rgb(168, 168, 212);
    height: 100px;
    width: 100px;
    display: flex;
    flex: 1;
}